@model IEnumerable<Tekliftakip.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                <img src="/Urunler/@item.ProductPicture" width="25px" height="25px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Düzelt</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Silme</a>
            </td>
        </tr>
}
    </tbody>
</table>
